<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>


curl -X POST -H "Content-Type: application/json" -d '{"username":"username_value","password":"password_value"}' http://localhost:5000/register

curl -X POST -H "Content-Type: application/json" -d '{"username":"username_value","password":"password_value"}' http://localhost:5001/api/login